<template>
  <button @click="click" :class="classes" :disabled="disabled">
    <span class="icon_spinner" v-if="loading"><fa-icon icon="spinner" /> </span>
    {{ label }}
  </button>
</template>

<script lang="ts">
export default {
  name: "ActionButton",
  props: {
    label: String,
    active: Boolean,
    loading: Boolean,
  },
  computed: {
    classes() {
      return {
        action_button: true,
        "action_button--disabled": !this.active,
        "action_button--loading": this.loading,
      };
    },
    disabled() {
      return !this.active || this.loading;
    },
  },
  methods: {
    click() {
      if (!this.disabled) {
        this.$emit("click");
      }
    },
  },
};
</script>

<style scoped>
@keyframes rotate360 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.icon_spinner {
  margin-right: 5px;
  display: inline-block;
  animation: rotate360 2s linear infinite;
}
.action_button:hover {
  cursor: pointer;
}
.action_button {
  background: rgb(90, 168, 247);
  color: white;
  border: 1px solid rgb(90, 168, 247);
  padding: 8px 16px;
}

.action_button--disabled {
  background: #eee;
  color: black;
}

.action_button--disabled:hover {
  cursor: not-allowed;
}

.action_button--loading:hover {
  cursor: progress;
}
</style>
