<template>
  <div>
    <h2>Add Item</h2>
    <div>
      <Dropdown
        :style="{ width: '350px' }"
        unselectedText="Не выбрано"
        :options="types"
        v-model="itemType"
      ></Dropdown>
      <input
        type="text"
        name="name"
        v-model="name"
        placeholder="Введите название"
      />

      <ActionButton
        :active="buttonEnabled"
        :loading="loading"
        @click="createItem"
        :label="buttonLabel"
      ></ActionButton>
    </div>
  </div>
</template>

<script lang="ts">
import { v4 as uuidv4 } from "uuid";
import ActionButton from "./ActionButton.vue";
import Dropdown from "./Dropdown.vue";
import { ItemType } from "@common/types/items";
import { TYPES_NAMES } from "@common/consts";
import { createItem } from "@/api/amo.ts";
import { mapMutations } from "vuex";

let types = Object.entries(TYPES_NAMES).map((t: any) => ({
  id: t[0],
  title: t[1],
}));

export default {
  data() {
    return {
      types: types,

      itemType: null as any,
      name: "",
      loading: false,
    };
  },
  methods: {
    createItem() {
      let itemType = this.itemType.id;
      let item = {
        name: this.name,
      };
      this.loading = true;
      createItem(itemType, item)
        .then((id) => {
          this.loading = false;
          this.name = "";
          this.addHistoryRecord({ ...item, type: itemType, id });
        })
        .catch((err) => {
          this.loading = false;
          alert("Произошла ошибка");
        });
    },
    ...mapMutations(["addHistoryRecord"]),
  },
  computed: {
    buttonLabel() {
      return `${
        this.itemType ? "Создать " + this.itemType.title : "Выберите тип"
      }`;
    },
    buttonEnabled() {
      return this.itemType && this.name.length > 0;
    },
  },
  components: {
    ActionButton,
    Dropdown,
  },
};
</script>
