<template>
  <div>
    <h2>History</h2>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>type</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in history" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ translateName(item.type) }}</td>
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { mapMutations, mapState } from "vuex";
import { Item, ItemType } from "@common/types/items";
import { TYPES_NAMES } from "@common/consts";
import * as fixture from "@fixtures/creation_history";

export default {
  name: "CreationHistory",
  methods: {
    translateName(type: ItemType) {
      return TYPES_NAMES[type];
    },
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      history: "creation_history",
    }),
  },
};
</script>
