<template>
  <div class="dropdown">
    <div class="selected" @click="opened = true">
      {{ selectedTitle }} <fa-icon icon="chevron-down" class="chevron-down" />
    </div>
    <div class="overlay" v-if="opened">
      <span :class="{ active: !isOptionSelected }" @click="selectOption(null)">
        <fa-icon icon="check" class="check" />
        {{ unselectedText }}
      </span>
      <span
        v-for="option in options"
        :key="option.id"
        :class="{ active: value && value.id === option.id }"
        @click="selectOption(option.id)"
      >
        <fa-icon icon="check" class="check" />
        {{ option.title }}
      </span>
    </div>
  </div>
</template>
<script lang="ts">
export default {
  props: {
    unselectedText: String,
    options: Array,
    initialOpened: Boolean,
    value: Object,
  },
  data() {
    return {
      opened: this.initialOpened,
    };
  },
  methods: {
    selectOption(id: any) {
      this.opened = false;
      this.$emit(
        "input",
        this.options.find((o: any) => o.id == id)
      );
    },
  },
  computed: {
    isOptionSelected() {
      return typeof this.value === "object";
    },
    selectedTitle() {
      if (this.value) {
        return this.value.title;
      }
      return this.unselectedText;
    },
  },
};
</script>
<style scoped>
.chevron-down {
  position: absolute;
  right: 10px;
}
.check {
  position: absolute;
  left: 10px;
  display: none;
}

.active .check {
  position: absolute;
  left: 10px;
  display: block;
}
.dropdown {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.overlay {
  background: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.selected {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
}
.overlay span,
.selected {
  padding: 10px 30px;
  white-space: nowrap;
}

.selected:hover {
  cursor: pointer;
}

.overlay span {
  border-top: 0px;
  white-space: nowrap;
}

.overlay span.active {
  background: #c7c7fa;
}
.overlay span:hover {
  background: #9595ff;
  cursor: pointer;
}
</style>
