<template>
  <div>
    <h1 class="test">Hello, World!</h1>
    <CreatorForm></CreatorForm>
    <CreationHistory></CreationHistory>
  </div>
</template>

<script>
import CreationHistory from "@/components/CreationHistory.vue";
import CreatorForm from "@/components/CreatorForm.vue";

export default {
  name: "App",
  data() {
    return {};
  },
  components: {
    CreationHistory,
    CreatorForm,
  },
};
</script>

<style >
.test {
}
</style>
